## Observations and Insights

In [62]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [63]:
# Combine the data into a single dataset
# Notes: pd.merge merges two data files and uses "Mouse ID" fields as unique ID to tie data sets together.
# Notes: pandas dataframe = "all_data" so pull data and do analysis from this Pandas data set.
# Notes: Outer join = return all rows from both tables, join from left table using keys that match to the right.

## DATAFRAME
all_data = pd.merge(mouse_metadata, study_results, how="outer", on=["Mouse ID", "Mouse ID"])
#all_data.head()
print(all_data)

# Display the data table for preview

     Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1888     z969     Naftisol  Male           9          30         25
1889     z969     Naftisol  Male           9          30         30
1890     z969     Naftisol  Male           9          30         35
1891     z969     Naftisol  Male           9          30         40
1892     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              38.825898                 0
2              35.014271                 1
3              34.223992                 1
4              32.997729                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]

### Cleaning the data for duplicates

In [75]:
# Checking the number of mice based on Mouse ID
# Note: # total mice = 249

## VARIABLE
total_mice = len(all_data["Mouse ID"].unique())
print (total_mice)

249

In [76]:
# Get a count on Mouse IDs.
# Most should have a count of 1-10 timepoints. Anything higher indicates duplicate timepoint data for the mouse.
all_data["Mouse ID"].value_counts()

g989    13
g288    10
q511    10
l700    10
s337    10
        ..
b447     1
x226     1
l872     1
v199     1
d133     1
Name: Mouse ID, Length: 249, dtype: int64

In [77]:
# OPTION A (option B at very end)
# Create a clean DataFrame by dropping the duplicate mouse by its ID. 
# Note: This looks for g989 in Mouse ID and assigns it to "badmouse".
bad_mice_data = all_data.set_index("Mouse ID")
badmice = bad_mice_data.loc["g989", :]

# Optional: Get all the data for the duplicate mouse ID. 
#print (badmice)

badmice.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,48.786801,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,51.745156,0

In [80]:
# Remove bad mouse data from entire (all_data) and create a new clean dataframe (all_data_clean).
# Note: # mice = 248 - and mouse G989 is still in the bucket but the duplicate data is gone.
# POTATO - unsure if I need to reset the index below. g989 is part of the index so may need to reset it.
# POTATO - pseudo code: Create all_data_clean by subtracting bad_mouse from all_data

clean_data_mice = bad_mice_data.drop(index = "g989")
all_data_clean = clean_data_mice.reset_index()
print (all_data_clean)
#all_data_clean.head()

     Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1875     z969     Naftisol  Male           9          30         25
1876     z969     Naftisol  Male           9          30         30
1877     z969     Naftisol  Male           9          30         35
1878     z969     Naftisol  Male           9          30         40
1879     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              38.825898                 0
2              35.014271                 1
3              34.223992                 1
4              32.997729                 1
...                  ...               ...
1875           63.145652                 2
1876           65.841013                 3
1877           69.176246                 4
1878           70.314904                 4
1879           73.867845                 4

[1880 rows x 8 columns]

In [81]:
# Counts number of "clean data" mice based on Mouse ID
# Note: # total mice = 249 | clean mice = 248
clean_mice = len(all_data_clean["Mouse ID"].unique())
print (clean_mice)

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

### POTATO CODE: Keep for reference

In [72]:
# OPTION B
## KEEP - good code below but it doesn't fit the homework. It just drops part of the data for mouse g989 but keeps the mouse in the dataset.
## Keep for future reference if you want to pull out some data within a record but not remove the entire record.
#-------------------------
# Create a new dataframe that has the duplicate data removed from the original dataframe (all_data).
# Note: Code looks for duplicates in Mouse ID and Timepoint and put results in new dataframe (all_clean_data).

## DATAFRAME - all_data_clean
#all_data_clean = all_data.drop_duplicates(subset=["Mouse ID", "Timepoint"])
#print (all_data_clean)

# Note: Can also use this code below to confirm g989 is not in the cleaned data (it shows up in the original data set above)
# all_data_clean["Mouse ID"].value_counts()